<div class="jumbotron center">
	<h1>This is my first rails-based website!</h1>
	<p>
		<%= link_to "Log In", "#", class: "myButton btn-lg"%>
		<%= link_to "Sign Up", "#", class: "myButton btn-lg" %>
	</p>
</div>